* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:black;
}

.mobile-container {
    max-width: 480px;
    color: white;

}

  .topnav {
    overflow: hidden;
    position: relative;
  }

.logo {
    width:75px;
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topnav .navbar {
    display: block;
    flex-wrap: wrap;
}
.navbar li a  {
    font-size: 17px;
    color: #edf0f1;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}



.navbar li {
    display: inline-block;
    padding: 0px 20px;
  }



section {
    padding: 10px ;
}

h1 {
    font-weight: bold;
}

h3 {
    font-weight: 200;
}

.buttons {
    margin-bottom: 10px;
}
.btn {
    border: 1px solid gray;
    border-radius: 10px;
    color: rgb(18, 53, 250);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    margin: 10px 10px 10px 0;
  }

  .btn:hover {
    background-color: rgb(80, 150, 190);
  }

  a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.938);
}
a:hover {
    color: rgb(16, 5, 116);
  }
.alt-title {
    font-size: 14px;
    font-style: italic;
    color: gray;
}

aside {
    border: 1px solid gray;
    padding: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

figure {
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
}

aside ul li{
    list-style-type: none;
}

.see-all{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    align-items: center;
    margin-top: 15px;
}

article {
    font-size: 20px;
    text-align: justify;
}

@media screen and (min-width:1280px) {
    body {
        width: 80%;
        margin: 0 auto;
    }

    .sub-container {
        display: flex;
        flex-direction: row-reverse;
    }

}
